<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <nav class="navigation">
        <ul>
          <li><a class="home" style="font-weight: bold" style="color: white" href="/">Home</a></li>
          <li><a class="home" style="font-weight: bold" style="color: white"  href="{{ url_for("main.htmls") }}">More Templates</a></li>
        </ul>
    </nav>
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename="css/htmls/style_form2.css")}}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
  </head>
  <body>
    <section class="overlay">
			<h1>Sign Up</h1>
      <p>Create an account:</p>
      <form action="submission2" method="GET">
        <label for="username">Username:</label>
        <br>
				<input id="username" name="username" type="text" required minlength="3" maxlength="15">
        <br>
        <label for="pw">Password:</label>
        <br>
        <!--Add the pattern attribute to the input below-->
				<input id="pw" name="pw" type="password" required minlength="8" maxlength="15">
        <br>
        <input type="submit" value="Submit">
      </form>
    </section>
  </body>
</html>
