{% extends "layout.html" %}
{% block content %}
    <body>
        <h1>HTML Templates</h1>
        <br>
        <br>
        <br>
        <div class="html_grid">
            <div class="predict"><a class="predict" href="{{ url_for("htmls.selector") }}">CSS Set up and Selector</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.visual") }}">CSS Visual Rules</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.box") }}">Box Model</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.box2") }}">Box Model 2</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.display") }}">Display and Position</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.color") }}">CSS Color</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.typography") }}">CSS Typography</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.grid_practice") }}">Grid</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.grid_practice2") }}">Grid 2 (Advanced)</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.table") }}">Table</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.form") }}">Form</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.form2") }}">Form Validation</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.basic") }}">Basics</a></div>
            <div class="predict"><a class="predict" href="{{ url_for("htmls.semantic") }}">Semantic HTML</a></div>

        </div>
    </body>

{% endblock content %}