{% extends "layout.html" %}
{% block content %}
    <body>
        <h1>Machine Learning Models</h1>
        <br>
        <br>
        <br>
        <div class="ml_grid">
            <div class="predict"><a class="predict" href="{{url_for('ml.predict_salary')}}">Predict Salary</a></div>
            <div class="predict"><a class="predict" href="{{url_for('ml.sneaker_invest')}}">Sneaker Invest</a></div>
            <div>ML Model 1</div>
            <div>ML Model 1</div>
            <div>ML Model 1</div>
            <div>ML Model 1</div>
            <div>ML Model 1</div>
        </div>
    </body>

{% endblock content %}