<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Access-Control-Allow-Origin" content="*" />
		<title>Predict</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
		<link rel="stylesheet" href="jquery.searchableSelect.css"/>
		<script src="jquery-1.7.1.min.js"></script>
		<script src="jquery.searchableSelect.js"></script>
		<style>
			body{
				background-repeat: no-repeat;
				background-size: 100% 100%;
				background-attachment: fixed;
			}
			.fixed {
				width: 500px;
				height: 450px;
				position: fixed;
				left: 35%;
				margin:0 auto;
				text-align: center;
			}
			h4 {
				font-size: 40px;
			}
			h5{
				color: #000;
			}
			select {
				width: 230px;
				height: 30px;
				margin-bottom: 5px;
			}
			.searchable-select-holder{
				width: 230px;
			}
			a{
				color:darkgoldenrod;
				text-decoration:none;
			}
			.btn {
				font-size: 22px;
				background-color: cornflowerblue;
				width: 300px;
				border-radius:1%;
			}
		</style>
	</head>
	<body background="home1.jpg">
		<div class="fixed">
			<h4>Sneaker Investment</h4>
            <form action="{{ url_for('ml.sneaker_predict')}}"method="post">
			<select id="colo">
				<option value="">颜色</option>
				<option value="0">black</option>
				<option value="1">white</option>
				<option value="2">yellow</option>
				<option value="3">red</option>
			</select><a href="#" title="颜色">！</a>
			<select id="comput">
				<option value="">品牌</option>
				<option value="0">Microsoft</option>
				<option value="1">amazon</option>
				<option value="2">apple</option>
				<option value="3">Facebook</option>
			</select><a href="#" title="品牌">！</a><br>
			<select id="num">
				<option value="">尺码</option>
				<option value="3.5">3.5</option>
				<option value="4">4</option>
				<option value="4.5">4.5</option>
				<option value="5">5</option>
				<option value="5.5">5.5</option>
				<option value="6">6</option>
				<option value="6.5">6.5</option>
				<option value="7">7</option>
				<option value="7.5">7.5</option>
				<option value="8">8</option>
				<option value="8.5">8.5</option>
				<option value="9">9</option>
				<option value="9.5">9.5</option>
				<option value="10">10</option>
				<option value="10.5">10.5</option>
				<option value="11">11</option>
				<option value="11.5">11.5</option>
				<option value="12">12</option>
				<option value="12.5">12.5</option>
				<option value="13">13</option>
				<option value="13.5">13.5</option>
				<option value="14">14</option>
				<option value="14.5">14.5</option>
				<option value="15">15</option>
				<option value="15.5">15.5</option>
				<option value="16">16</option>
				<option value="16.5">16.5</option>
				<option value="17">17</option>
				<option value="17.5">17.5</option>
				<option value="18">18</option>
			</select><a href="#" title="尺码">！</a>
			<select id="ysn1">
				<option value="">是否合作</option>
				<option value="1">yes</option>
				<option value="0">no</option>
			</select><a href="#" title="是否与艺术家的合作">！</a><br>
			<select id="ysn2">
				<option value="">是否合作</option>
				<option value="1">yes</option>
				<option value="0">no</option>
			</select><a href="#" title="是否与艺术家的合作">！</a>
			<select id="ysn3">
				<option value="">是否合作</option>
				<option value="1">yes</option>
				<option value="0">no</option>
			</select><a href="#" title="是否与艺术家的合作">！</a><br>
			<select id="ysn5">
				<option value="">是否合作</option>
				<option value="1">yes</option>
				<option value="0">no</option>
			</select><a href="#" title="是否与艺术家的合作">！</a><br><br>
			
			<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

               <br>
               <br>
               {{ prediction_text }}
               <br>
			
			<h5><a href="#" style="color: #000000;">Select Other Models</a>
			
			<h5><a href="#" style="color: #000000;">Back To Home</a>
			
		</div>
	</body>
	<script>
		$(function(){
			$('#colo').searchableSelect();
			$('#comput').searchableSelect();
			$('#num').searchableSelect();
			$('#ysn1').searchableSelect();
			$('#ysn2').searchableSelect();
			$('#ysn3').searchableSelect();
			$('#ysn4').searchableSelect();
			$('#ysn5').searchableSelect();
		});
		function goBackhtml(){
			if($("#colo").val() == ""){
				alert("请选择颜色");
				return;
			}
			if($("#comput").val() == ""){
				alert("请选择品牌");
				return;
			}
			if($("#num").val() == ""){
				alert("请选择尺码");
				return;
			}
			if($("#ysn1").val() == ""){
				alert("请选择是否与艺术家的合作");
				return;
			}
			if($("#ysn2").val() == ""){
				alert("请选择是否与艺术家的合作");
				return;
			}
			if($("#ysn3").val() == ""){
				alert("请选择是否与艺术家的合作");
				return;
			}
			if($("#ysn4").val() == ""){
				alert("请选择是否与艺术家的合作");
				return;
			}
			if($("#ysn5").val() == ""){
				alert("请选择是否与艺术家的合作");
				return;
			}
			location.href = "back.html";
		}
		
	</script>
</html>
